body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.618;
    max-width: 35em;
    margin: 1em auto;
    background-color: #f8fafa;
    color: #131313;
    padding: 1.5em;
}

@media (min-width:1281px) {
    body {
        font-size: 1.25em;
    }
}

p {
    margin-bottom: 1.618em;
}
.header > h1 {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: normal;
}
.picture {
    text-align: center;
}
.picture > img {
    max-width: 100%;
}
.picture-text {
    padding: 1em;
    margin-bottom: 2em;
}